.container {
    color: white;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 2rem;

}

@media only screen and (max-width: 600px) {
    .container {
        color: white;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 2rem;

    }
}